[submodule "images/damnvulnerableopenssl/DamnVulnerableOpenSSL"]
	path = src/main/resources/images/damnvulnerableopenssl/DamnVulnerableOpenSSL
	url = https://github.com/tls-attacker/DamnVulnerableOpenSSL